
<div class="container">

  <div class="wrapper">
    <div class="box">
      <label for="">First Name</label>
      <input type="text" name="" id="">
    </div>
    <div class="box">
      <label for="">Last Name</label>
      <input type="text" name="" id="">
    </div>
    <div class="box">
      <label for="">Middle Name</label>
      <input type="text" name="" id="">
    </div>
    <div class="box">
      <label for="">Address</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="box">
      <label for="">Email</label>
      <input type="email" name="" id="">
    </div>
    <div class="box">
      <label for="">Number</label>
      <input type="number" name="" id="">
    </div>
  </div>
</div>